%h1.page-header
  How do we buy silver in NYC?
  %br
  %small How do we buy silver? 
  %h2
    %span 
      = "How Are Diamonds valued?"
  %p.lead
    %span 
      = "Before you can sell your diamond jewelry, you need to have an idea what its value is. Every element of a diamond affects its worth. Examining the condition of a used diamond is a key component in determining its value."
  %p.lead
    %span
      = "We have outlined below the major factors that our buyers take into consideration when appraising diamonds. These highlighted qualities strongly influence your gem’s value and help estimate how much your diamond is worth."
  %hr
    = render "/layouts/diamond_table"    
  %p.lead
    %span
      = "After reviewing the above table, the final step is to consider where you will be selling your used diamond. The retail price you originally paid is not the same as the wholesale value of your piece. Like most assets, diamonds, once purchased, depreciate in value. However, some diamonds acquired many years ago may have increased in value. Should you decide to exchange your diamonds for cash, contact us and you will receive unmatched service from our trusted staff."
  %img.img-responsive{:alt => "", :src => "/ph.jpg"}
%hr